#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}

.relative-up {
    position: relative;
    top: 10px;
}

.relative-down {
    position: relative;
    bottom: 10px;
}